.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    }

    .list-group-item{
        background-color: transparent;
    }

    .fa-plus {
        width: 5px; /* Adjust the width as needed */
        height: 5px; /* Adjust the height as needed */
        font-size: 10px;
    }
    .fa-minus {
        width: 5px; /* Adjust the width as needed */
        height: 5px; /* Adjust the height as needed */
        font-size: 10px;
    }

    .item-checkbox{
    position: relative; /* Set position to relative to enable positioning */
    bottom: 60px; 
    /* left: 20px; */
    }
    .form-outline input[type=number] {
        width: 50%; /* Adjust width as needed */
    }
    
    /* Adjust margin between input and button */
    .stepUp {
        transform: translate(-110px,0); /* Adjust margin as needed */
    }

    @media (max-width: 1200px) {
        .form-outline input[type=number] {
            width: 70%; /* Adjust width for smaller screens */
        }
        .stepUp {
            transform: translate(-23px,0); /* Adjust margin as needed */
        }
    }
    
    /* Media query for smaller screens */
    @media (max-width: 992px) {
        .form-outline input[type=number] {
            width: 70%; /* Adjust width for smaller screens */
        }
        .stepUp {
            transform: translate(-15px,0); /* Adjust margin as needed */
        }
    }
    
    /* Media query for medium-sized screens */
    @media (max-width: 768px) {
        .form-outline input[type=number] {
            width: 60%; /* Adjust width for medium-sized screens */
        }
        .stepUp {
            transform: translate(-30px,0); /* Adjust margin as needed */
        }
    }
    
    /* Media query for smaller devices */
    @media (max-width: 576px) {
        .form-outline input[type=number] {
            width: 70%; /* Adjust width for smaller devices */
        }
        .stepUp {
            transform: translate(-25px,0); /* Adjust margin as needed */
        }
    }
    
    /* Media query for extra small devices */
    @media (max-width: 360px) {
        .form-outline input[type=number] {
            width: 70%; /* Adjust width for extra small devices */
        }
        .stepUp {
            transform: translate(-18px,0); /* Adjust margin as needed */
        }
    }
/* Price text */

    .text-start {
        transform: translate(-110px,0); /* Adjust margin as needed */
    }

    @media (max-width: 1200px) {
        .text-start {
            transform: translate(-23px,0); /* Adjust margin as needed */
        }
    }

    /* Media query for smaller screens */
    @media (max-width: 992px) {
        .text-start {
            transform: translate(-15px,0); /* Adjust margin as needed */
        }
    }

    /* Media query for medium-sized screens */
    @media (max-width: 768px) {
        .text-start {
            transform: translate(-30px,0); /* Adjust margin as needed */
        }
    }

    /* Media query for smaller devices */
    @media (max-width: 576px) {
        .text-start {
            transform: translate(-24px,0); /* Adjust margin as needed */
        }
    }

    /* Media query for extra small devices */
    @media (max-width: 360px) {
        .text-start {
            transform: translate(-18px,0); /* Adjust margin as needed */
        }
    }
